* {
  font-family: 'Inter', sans-serif;
}
body, #__nuxt {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

main {
  flex: 1 0 auto;
}

h1 {
  font-family: 'Sansation', sans-serif;
}